*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Lobster', cursive;
}
.text-center{
    text-align: center;
}
.welcome{
    background-color: #ececec;    
}
.container1{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
p{
    margin-top: 20px;
    font-family: 'Slabo 27px', serif;
}
small{
    color: #a19d9d;
    font-family: 'Slabo 27px', serif;
}
.btn{
    padding: 1%;
    border: none;
    margin-top: 20px;
    font-size: 1rem;
    border-radius: 5px;
    font-family: 'Slabo 27px', serif;
}
.btn-primary{
    background-color: #E55473;
    color: white;
    cursor: pointer;
}
.box1{
    padding-top: 150px;
    padding-right: 80px;
}
img{
    width: 100%;
}
.categories{
    padding: 4% 0;
}
.container2{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.container3{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
}
.pngwing5{
    padding-top: 60px;
}
.box3{
    background-color: #ececec;
    border-top-right-radius: 280px;
    border-top-left-radius: 280px;
    padding: 50px 25px 0;
    margin: 10px;
}
.container4{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    justify-content: space-between;
}
.name{
    font-size: 15px;
    margin: -10px 90px;
}
.container5{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
    }
.box4{
    width: 10%;
    margin: auto;
}
.signup{
    background-color: #ececec;
    margin-top: 50px;
    padding: 80px;    
}
.container6{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    justify-content: center;
    text-align: center;
}
.box5{
    padding-top: 90px;
}
.box6{
    margin-bottom: 40px;
}
.off{
    color: #E55473;
}
.instagram{
    padding: 50px;
}
.container7{
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.container8{
    display: flex;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    justify-content: center;
}
.box7{
    padding: 50px 10px 0;
}
.subscribe{
    background-image: url(images/Rectangle\ 9.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.subscribe input[type="email"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    font-family: 'Slabo 27px', serif;
}
.footer{
    margin-top: 80px;
}
.container10{
    color: #ececec;
    background-color: black;
    padding-top: 60px;
}
.flower{
    color: #E55473;
}
.shop{
    color: #ececec;
}
